# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# Virtualenv / Poetry
venv/
.env
*.venv/
*.egg-info/
poetry.lock

# Database local
*.db
*.sqlite3

# Flask / Python logs
instance/
*.log

# IDE / Editor
.vscode/
.idea/
*.iml

# Node / Frontend (se tiver)
node_modules/
dist/

# Sistema operacional
.DS_Store
Thumbs.db
